.env
.vs/
.idea/
obj/
bin/
*.user
KinkLinkInterface/
KinkLinkDiscordBot/
KinkLinkAdminConsole/
KinkLinkServer/Data/
/KinkLinkServer/Properties/PublishProfiles
KinkLinkServer/.config/dotnet-tools.json
Generated/
