POSTGRES_DB=target_db
POSTGRES_PASSWORD=password
POSTGRES_USER=admin
# Set to 1 or true to seed the database with test data.
# Key UID pars are set to the following
# testhash1 : TEST000001
# testhash2 : TEST000002
# testhash3 : TEST000003
# testhash4 : TEST000010
ENABLE_TEST_DATA=0
